html, body {
  background: black;
  margin: 0;
  height: 100%;
}
.box {
  /*margin: 20px;
  padding: 10px;*/
  /*height: 150px;
  width: 500px;*/
  display: block;
  position: absolute;
  border: 1px solid white;
}
.common img {
  z-index: -99;
}

.led {
  filter: grayscale(1) invert(0.7);
}